LINK_TYPES = [
    ('', 'Default'),
    ('btn', 'Button'),
    ('link', 'Link')
]

LINK_VARIANTS = [
    ('', 'Default'),
    ('btn-primary', 'Primary Button'),
    ('btn-secondary', 'Secondary Button'),
    ('btn-accent', 'Accent Button'),
    ('btn-info', 'Info Button'),
    ('btn-success', 'Success Button'),
    ('btn-warning', 'Warning Button'),
    ('btn-error', 'Error Button'),
    ('btn-link', 'Link Button'),
]

LINK_SIZES = [
    ('', 'Default'),
    ('btn-sm', 'Small'),
    ('btn-lg', 'Large'),
]