{%load static%}
<section class="relative py-24 md:py-32 xl:py-52 overflow-hidden">
    <img class="absolute top-0 left-0 h-full w-full" src="{%static 'flow_theme/images/waves-lines.png'%}" alt="">
    <img class="absolute top-0 left-0" src="{%static 'flow_theme/images/lime-shadow.png'%}" alt="">
    <div class="container mx-auto px-4 relative">
        <div class="text-center">
            <img class="block w-full max-w-sm md:max-w-lg lg:max-w-2xl mb-5 mx-auto" src="{%static 'flow_theme/images/numbers.svg'%}" alt="">
            <p class="max-w-md mx-auto mb-12 text-lg">The page you are looking for was moved, removed, renamed or might have never existed!</p>
            <a href="#" class="btn btn-accent hover:btn-primary btn-lg">Back to home</a>
        </div>
    </div>
</section>