<section class="py-12 lg:py-24">
    <div class="container mx-auto px-4">
        <div class="flex flex-wrap mb-20 -mx-4">
            <div class="card card-compact lg:card-normal lg:w-1/2 px-4 mb-10 lg:mb-0">
                <div class="card-body h-full items-start max-w-md prose">
                    <h4>Learn more from our blog</h4>
                    <p>Our team boasts top green energy experts, driving innovation in sustainability.</p>
                    <a class="btn btn-lg btn-outline mt-auto">See all</a>
                </div>
            </div>
            <div class="w-full lg:w-1/2 px-4">
                <div class="max-w-xl">
                    <a href="#" class="card card-compact lg:card-normal group prose">
                        <div class="card-body lg:flex-row">
                            <img class="block rounded-box" src="https://picsum.photos/128" alt="">
                            <div class="mt-6 sm:mt-0 sm:ml-8">
                                <h5 class="group-hover:text-secondary">Wind Power: A Breath of Fresh Air for Clean Energy Enthusiasts</h5>
                                <div class="flex items-center">
                                    <img class="w-8 h-8 rounded-full" src="https://picsum.photos/128" alt="">
                                    <div class="flex items-center ml-4">
                                        <span class="text-sm font-medium">Wade Warren</span>
                                        <span class="mx-2 sm:mx-4">
                                            <svg width="4" height="4" viewBox="0 0 4 4" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <circle cx="2" cy="2" r="2" fill="#929C9A"></circle>
                                            </svg>                                                
                                        </span>
                                        <span class="text-sm font-medium">7 min read</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="#" class="card card-compact lg:card-normal group prose">
                        <div class="card-body lg:flex-row">
                            <img class="block rounded-box" src="https://picsum.photos/128" alt="">
                            <div class="mt-6 sm:mt-0 sm:ml-8">
                                <h5 class="group-hover:text-secondary">Wind Power: A Breath of Fresh Air for Clean Energy Enthusiasts</h5>
                                <div class="flex items-center">
                                    <img class="w-8 h-8 rounded-full" src="https://picsum.photos/128" alt="">
                                    <div class="flex items-center ml-4">
                                        <span class="text-sm font-medium">Wade Warren</span>
                                        <span class="mx-2 sm:mx-4">
                                            <svg width="4" height="4" viewBox="0 0 4 4" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <circle cx="2" cy="2" r="2" fill="#929C9A"></circle>
                                            </svg>                                                
                                        </span>
                                        <span class="text-sm font-medium">7 min read</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="#" class="card card-compact lg:card-normal group prose">
                        <div class="card-body lg:flex-row">
                            <img class="block rounded-box" src="https://picsum.photos/128" alt="">
                            <div class="mt-6 sm:mt-0 sm:ml-8">
                                <h5 class="group-hover:text-secondary">Wind Power: A Breath of Fresh Air for Clean Energy Enthusiasts</h5>
                                <div class="flex items-center">
                                    <img class="w-8 h-8 rounded-full" src="https://picsum.photos/128" alt="">
                                    <div class="flex items-center ml-4">
                                        <span class="text-sm font-medium">Wade Warren</span>
                                        <span class="mx-2 sm:mx-4">
                                            <svg width="4" height="4" viewBox="0 0 4 4" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <circle cx="2" cy="2" r="2" fill="#929C9A"></circle>
                                            </svg>                                                
                                        </span>
                                        <span class="text-sm font-medium">7 min read</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>