<section class="grid place-items-center w-full bg-neutral">
    <div class="flex flex-row items-center w-full h-full pt-24 lg:pt-6" 
        style="min-height:calc(100vh - {%if request.toolbar.show_toolbar%}46px - {%endif%}80px)">
        <div class="flex-grow rounded-r-box overflow-clip my-12 max-w-48">
            <img class="object-cover w-full h-full" src="https://picsum.photos/256/512" alt="">
        </div>
        <div class="container px-4 mx-auto max-w-2xl xl:max-w-5xl flex-none">
            <div class="display max-w-2xl mx-auto text-center">
                <h6>Powering Tomorrow</h6>
                <h2>The Future of Green Energy</h2>
                <p>Our commitment to green energy is paving the way for a cleaner, healthier planet. Join us on a journey towards a future where clean, renewable energy sources transform the way we power our lives.</p>
            </div>
        </div>
        <div class="flex-grow rounded-l-box overflow-clip my-12 max-w-48">
            <img class="object-cover w-full h-full" src="https://picsum.photos/256/256" alt="">
        </div>
    </div>
    <div class="relative flex flex-col lg:flex-row justify-around items-start w-full max-w-7xl h-48 gap-24 px-8 lg:px-32 overflow-clip">
        <div class="flex-grow pt-auto">
            <img class="object-cover rounded-t-box overflow-clip w-full h-full" src="https://picsum.photos/256/512" alt="">
        </div>
        <div class="flex-grow pt-auto">
            <img class="object-cover rounded-t-box overflow-clip w-full h-full" src="https://picsum.photos/256/256" alt="">
        </div>
        <div class="absolute inset-0 bg-gradient-to-t from-neutral to-transparent"></div>
    </div>
</section>