<section class="py-12 lg:py-24 bg-neutral text-neutral-content">
    <div class="container mx-auto px-4">
        <div class="prose">
            <h2>Blog</h2>
        </div>
        <div class="flex flex-wrap mb-20">
            <a href="#" class="lg:w-1/2 px-4 lg:px-0 mb-10 lg:mb-0 group prose">
                <img class="block rounded-box max-h-80 w-full" src="https://picsum.photos/128" alt="">
                <div class="block mt-6">
                    <h5 class="group-hover:text-secondary">Wind Power: A Breath of Fresh Air for Clean Energy Enthusiasts</h5>
                    <p>Solar energy is revolutionizing the way we power our world. In this blog post, we'll delve into the incredible potential of solar technology, its environmental...</p>
                    <div class="flex items-center mt-4">
                        <img class="w-8 h-8 rounded-full" src="https://picsum.photos/128" alt="">
                        <div class="flex items-center ml-4">
                            <span class="text-sm font-medium">Wade Warren</span>
                            <span class="mx-2 sm:mx-4">
                                <svg width="4" height="4" viewBox="0 0 4 4" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <circle cx="2" cy="2" r="2" fill="#929C9A"></circle>
                                </svg>
                            </span>
                            <span class="text-sm font-medium">7 min read</span>
                        </div>
                    </div>
                </div>
            </a>
            <div class="w-full lg:w-1/2 px-4 lg:px-0">
                <div class="max-w-xl">
                    <a href="#" class="card card-compact lg:card-normal group prose">
                        <div class="card-body lg:flex-row">
                            <img class="block rounded-box" src="https://picsum.photos/128" alt="">
                            <div class="mt-6 sm:mt-0 sm:ml-8">
                                <h5 class="group-hover:text-secondary">Wind Power: A Breath of Fresh Air for Clean Energy Enthusiasts</h5>
                                <div class="flex items-center">
                                    <img class="w-8 h-8 rounded-full" src="https://picsum.photos/128" alt="">
                                    <div class="flex items-center ml-4">
                                        <span class="text-sm font-medium">Wade Warren</span>
                                        <span class="mx-2 sm:mx-4">
                                            <svg width="4" height="4" viewBox="0 0 4 4" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <circle cx="2" cy="2" r="2" fill="#929C9A"></circle>
                                            </svg>                                                
                                        </span>
                                        <span class="text-sm font-medium">7 min read</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="#" class="card card-compact lg:card-normal group prose">
                        <div class="card-body lg:flex-row">
                            <img class="block rounded-box" src="https://picsum.photos/128" alt="">
                            <div class="mt-6 sm:mt-0 sm:ml-8">
                                <h5 class="group-hover:text-secondary">Wind Power: A Breath of Fresh Air for Clean Energy Enthusiasts</h5>
                                <div class="flex items-center">
                                    <img class="w-8 h-8 rounded-full" src="https://picsum.photos/128" alt="">
                                    <div class="flex items-center ml-4">
                                        <span class="text-sm font-medium">Wade Warren</span>
                                        <span class="mx-2 sm:mx-4">
                                            <svg width="4" height="4" viewBox="0 0 4 4" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <circle cx="2" cy="2" r="2" fill="#929C9A"></circle>
                                            </svg>                                                
                                        </span>
                                        <span class="text-sm font-medium">7 min read</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="#" class="card card-compact lg:card-normal group prose">
                        <div class="card-body lg:flex-row">
                            <img class="block rounded-box" src="https://picsum.photos/128" alt="">
                            <div class="mt-6 sm:mt-0 sm:ml-8">
                                <h5 class="group-hover:text-secondary">Wind Power: A Breath of Fresh Air for Clean Energy Enthusiasts</h5>
                                <div class="flex items-center">
                                    <img class="w-8 h-8 rounded-full" src="https://picsum.photos/128" alt="">
                                    <div class="flex items-center ml-4">
                                        <span class="text-sm font-medium">Wade Warren</span>
                                        <span class="mx-2 sm:mx-4">
                                            <svg width="4" height="4" viewBox="0 0 4 4" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <circle cx="2" cy="2" r="2" fill="#929C9A"></circle>
                                            </svg>                                                
                                        </span>
                                        <span class="text-sm font-medium">7 min read</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>